<header>
    <h2><a href="index.html">Kiwi.com</a></h2>
    <nav>
        <img src="https://emmanuel.nuiro.me/kiwi/FRONT/Img/bell.png" alt="" class="menu bell btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="notifications" />
        <img src="https://emmanuel.nuiro.me/kiwi/FRONT/Img/user.png" alt="" class="menu profil-picture btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-title="<a href='lol'>My Profile</a>" data-footer="<a href='lol'>Log out</a>"
            data-content="
        <a href='lol'>Notifications</a>
        <a href='lol'>Mail</a>
        <a href='lol'>Settings</a>
        " />
    </nav>
</header>