app-dash-side,
app-dash-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

app-dash-main {
    grid-column: 2/2;
    padding-right: 16px;
    /* overflow-y: scroll; */
    /* scrollbar-color: #2c6166 transparent; */
    /* scrollbar-width: thin; */
    flex-direction: column;
    justify-content: flex-start;
}