:host {
    background-image: url('https://emmanuel.nuiro.me/kiwi/FRONT/Img/Kiwi-bg-4.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

button {
    padding: 8px 32px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #2c6166;
    border: 4px solid #2c6166;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16pt;
    margin: 8px 16px;
    display: flex;
    align-items: center;
    height: 4.5vh;
    min-height: 60px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:first-of-type {
    margin-left: 0px;
}

#Kiwi {
    text-decoration: underline;
}

main {
    /* margin-left: 25vw;
    margin-right: 25vw; */
    min-width: 1000px;
    width: 50vw;
    margin-bottom: 10vh;
}

main div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
}

.form-button {
    padding-left: 24px;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.form-button input {
    margin-left: 8px;
}

.form-button span {
    margin-right: 16px;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input {
    height: 100%;
    border: 2px solid #2c6166;
    color: #2c6166;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

form {
    height: 100%;
}

#lpassword {
    margin-right: 8px;
}

input[type="image"] {
    width: auto;
    padding: 0;
    border-radius: 50%;
    border: none;
}

#lsubmitLogin {
    margin-left: 0px;
}

label {
    font-weight: bold;
}

.invalid {
    border-color: red;
}

.form-field-explain {
    display: none;
}

.form-control.invalid~.form-field-explain {
    display: block;
}

.hidden {
    display: none;
}

@media screen and(max-width:830px) {}