app-dashboard-cho {
    width: 90vw;
    /* height: 85vh; */
    /* height: 90vh; */
    background: none;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 32px;
    padding-top: 80px;
}

:host {
    height: 92vh;
}