<div class='jobAdCorpse'>
    <div class='jobAdTitle'>
        <h4>{{titre}}</h4>
        <h5>@ {{entreprise}}, {{lieu}}</h5>
    </div>
    <div class='jobAdSubTitle'>
        <h5>
            <a href="#" class="badge badge-primary">Angular</a>
            <a href="#" class="badge badge-secondary">Bootstrap</a>
        </h5>
        <h5>{{salaire}}</h5>
    </div>
    <div class='jobAdPreview'>
        <p>{{preview}}</p>
    </div>
</div>
<img alt="" src="https://emmanuel.nuiro.me/kiwi/FRONT/Img/look.png" class="jobAdMore" />