.dash-asi-btn {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 16pt;
    color: #2c6166;
    text-align: left;
}

.dash-asi-btn:hover {
    background-color: #def8ff;
}

.dash-asi-btn:visited,
.dash-asi-btn:hover {
    color: #2c6166;
    text-decoration: none;
}