body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(222, 248, 255, 1) 100%);
    /* color: #4A6466; */
    color: #2c6166;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a,
a:visited {
    color: #2c6166;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

#Kiwi {
    text-decoration: underline;
}

main {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 10vh;
}

h1,
h2 {
    margin: 8px 0;
}

h1 {
    font-weight: 900;
    font-size: 80pt;
}

h2 {
    font-weight: 400;
    font-size: 40pt;
}

h3 {
    font-weight: 300;
    font-size: 16pt;
}

button:first-of-type {
    margin-left: 0px;
}

footer {
    padding: 8px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    padding: 8px;
    background-color: transparent;
    color: #2c6166;
    border: 4px solid #2c6166;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16pt;
    margin: 8px 16px;
    min-width: 150px;
}

.boxOver {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.boxOver .main {
    width: 30vw;
    min-width: 600px;
    height: 70vh;
    min-height: 900px;
    background-color: #def8ff;
    border-radius: 30px;
    padding: 24px;
}