body {
    margin: 0;
    padding: 0;
    background: rgb(222, 255, 236);
    background: linear-gradient(133deg, rgba(222, 255, 236, 1) 0%, rgba(222, 248, 255, 1) 66%);
    /* background: rgb(255, 255, 255);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(222, 248, 255, 1) 100%); */
    /* color: #4A6466; */
    color: #2c6166;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a,
a:visited {
    color: #2c6166;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

h1,
h2 {
    margin: 8px 0;
}

h1 {
    font-weight: 900;
    font-size: 80pt;
}

h2 {
    font-weight: 400;
    font-size: 40pt;
}

h3 {
    font-weight: 300;
    font-size: 16pt;
}

h4 {
    font-weight: 700;
    font-size: 24pt;
}

footer {
    padding: 8px;
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 0;
}

.alert {
    position: fixed;
    left: 1%;
    width: 98%;
    top: 8px;
    text-align: center;
}