:host,
.content {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 64px;
}

.bar button {
    width: 25vw;
    font-size: 16pt;
    padding: 8px;
    background-color: rgb(241, 239, 239);
    border-radius: 8px 8px 0px 0px;
    border: 2px solid rgb(223, 220, 220);
    border-bottom: none;
}

.content,
.bar button.active {
    background-color: white;
}

.content {
    height: 100%;
}