aside {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    /* border: 2px solid #2c6166; */
    margin-bottom: 32px;
    min-height: 200px;
    padding: 16px;
    box-shadow: 7px 7px 14px #a2b5ba, -7px -7px 14px #fff;
}

.profil-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profil-picture {
    width: 50%;
    margin: 0 25%;
    border-radius: 50%;
    object-fit: cover;
}

.dash-asi-btn {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 16pt;
    color: #2c6166;
    text-align: left;
}

.dash-asi-btn:hover {
    background-color: #def8ff;
}

.dash-asi-btn img {
    height: 30px;
}

.profil-block div {
    margin: 8px 0 16px;
}

.dash-notif-title {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

a.dash-notif-title,
a.dash-notif-title:hover,
a.dash-notif-title:visited {
    color: #2c6166;
    font-size: 16pt;
    text-transform: lowercase;
}

.dash-asi-btn:visited,
.dash-asi-btn:hover {
    color: #2c6166;
    text-decoration: none;
}

h4,
h5 {
    display: inline;
}

h5 {
    font-weight: 600;
}

.jobAdSubTitle h5 {
    margin: 0;
}

h4:not(:first-child),
h5:not(:first-child) {
    margin-left: 8px;
}