app-job-ad {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    /* border: 2px solid #2c6166; */
    margin-top: 24px;
    min-height: 200px;
    padding: 16px;
    box-shadow: 7px 7px 14px #a2b5ba, -7px -7px 14px #fff;
    display: grid;
    grid-template-columns: 28fr 2fr;
    grid-column-gap: 8px;
    align-items: center;
}

app-job-ad:hover .jobAdMore {
    opacity: 1;
    transition-duration: 0.4;
}

app-job-ad:hover .jobAdMore:hover {
    background: #e9efef;
}

.loading {
    margin: 120px 0;
}

app-bar-de-recherche-styleeee {
    width: 100%;
    height: 50px;
    margin-bottom: 32px;
}